:root {
    --primary-color: hsl(211 100% 43%);
    --secondary-color: hsl(0 0% 100%);
    --tertory-color: hsl(0deg 0% 100% / 90%);
    --forth-color:hsl(215.4 16.3% 46.9%);
    --button-color: hsl(25 95% 53%);
    
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
}

ul {
    padding-left: 0px;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1024px;
}

main {
    background-image: linear-gradient(rgba(8, 8, 8, 0.85), rgba(12, 11, 11, 0.85)), url("./hero-bg-Db-x3ESR.jpg ");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
}

.p-color {
    color: var(--primary-color);
}

.s-color {
    color: var(--secondary-color);
}

.t-color {
    color: var(--tertory-color);
}
.f-color{
    color: var(--forth-color);
}
.g-color{
    color:  hsl(142 76% 36%);
    font-weight: 600;
    font-size:medium;
}

.my-btn-primary {
    width: 200px;
    background-color: var(--button-color);
    color: var(--secondary-color);
    padding: 7px 30px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
}

.my-btn-primary:hover {
    background-color: hsl(142 76% 36%);
    color: var(--secondary-color);
}

.my-btn-outline-primary {
    width: 200px;
    background-color: transparent;
    color: var(--secondary-color);
    padding: 7px 30px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    border: 1px var(--secondary-color) solid;

}

.my-btn-outline-primary:hover {
    background-color: var(--secondary-color);
    color: black;
}

.my-btn-outline-primary-black{
     width: 400px;
    background-color: transparent;
    color: black;
    padding: 7px 30px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    border: 1px black solid;
}

.p-btn-span {
    background-color: var(--primary-color);
    border-radius: 20px;
    padding: 1px 15px 2px 15px;
    color: var(--secondary-color);
    text-align: center;
}

.p-btn-span-orange {
    background-color: var(--button-color);
    border-radius: 20px;
    padding: 1px 15px 2px 15px;
    color: var(--secondary-color);
    text-align: center;
}

.about,
.banner,
.skill,
.project,
.experience,
.contact{
    padding: 100px 0px;
}

.sec-heading h1 {
    font-size: 48px;
    font-weight: bold;
}

.sec-heading p {
    font-size: 18px;
}

/* Header start */
.header-class{
    position: relative;
    
}
header {
    
    
    
   
    background-color:var(--secondary-color);
    position: fixed;
     top: 0px;
     z-index: 50;
    /* position: -webkit-sticky; */
    width: 100%;


}
.header-wrapper{
    margin-top: 10px;
}
.header-wrapper p {
    color: var(--primary-color);
    font-weight: 900;
    font-size: larger;
}

.header-wrapper a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 700;
    font-size: larger;

}

.header-wrapper a:hover {
    color: var(--button-color);
}

/* Header end */

/* Banner Start */


.banner-wrapper h1 {
    font-size: 72px;
    font-weight: bolder;

}

/* Banner end */


/* About start */
.about {
    background-color: hsl(210 40% 98%);
   
    /* position: relative; */
}

.parent {
    position: relative;
}

.ab {
    position: absolute;
    top: 15px;
    right: 30px;
}


.edu {
    background-color: hsl(0 0% 100%);;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
    transition: all 0.3s;
}
.edu:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 8px 0 rgba(160, 191, 241, 0.5), 0 6px 20px 0 rgba(160, 191, 241, 0.5);
}



.career {
    background-color: hsl(0 0% 100%);
    padding: 45px;
    padding-left: 50px;
    border-radius: 20px;
    transition: all 0.3s;
    margin-bottom: 30px;
}
.career:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 8px 0 rgba(160, 191, 241, 0.5), 0 6px 20px 0 rgba(160, 191, 241, 0.5);
}   

.career-info {
    padding: 40px 30px;
    background-color: hsl(0 0% 100%);
    border-radius: 20px;
    margin-bottom: 30px;
    transition: all 0.3s;
}
.career-info:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 8px 0 rgba(160, 191, 241, 0.5), 0 6px 20px 0 rgba(160, 191, 241, 0.5);
}
/* About end */

/* Skill start */

.t-info{
    background-color: hsl(0 0% 100%) ;
    border: hsl(214.3 31.8% 91.4%) 2px solid;
    padding: 40px 30px;
    border-radius: 15px;
    margin-bottom: 30px;
    transition: all 0.3s;
    
}
.t-info:hover{
    transform: translateY(-5px);
   box-shadow: 0 4px 8px 0 rgba(160, 191, 241, 0.5), 0 6px 20px 0 rgba(160, 191, 241, 0.5);
}

/* Skill end */

/* project start */
.project{
    background-color: hsl(210 40% 98%);
}
.project-wrapper a button{
    width: 100%;
    border: 1px black solid;
    background-color: var(--secondary-color);
    border-radius: 7px;
    text-decoration: none;
    
    color: black;
    font-weight: 400;
    font-size: 20px;
}


.project-wrapper button:hover{
    background-color: var(--primary-color);
    color: #FFFFFF;
    border: none;
}

.project-wrapper ul{
    color: var(--primary-color);
}

.project-wrapper .row h4{
    font-weight: bold;
}

/* project end */

/* Experience Start */

.experience-wrapper ul{
    color: var(--primary-color);
}

/* Experience end */


/* Contact Details Start */

.contact{
    background-color:  hsl(210 40% 98%);
}
.b1{
    display: inline-flex;
    background-color:  var(--button-color);
    color: var(--secondary-color);
    padding: 10px 30px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
}
.b1:hover{
    background-color: hsl(142 76% 36%) ;
    color: var(--secondary-color);
}
.b11{
    display: inline-flex;
    background-color:  var(--button-color);
    color: var(--secondary-color);
    padding: 10px 30px;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
}
.b11:hover{
    background-color: hsl(142 76% 36%) ;
    color: var(--secondary-color);
}
.b2{
    display: inline-flex;
    background-color:  var(--secondary-color);
    color: black;
    border:  hsl(214.3 31.8% 91.4%) 2px solid;
    padding: 10px 30px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
}
.b2:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.contact-info-a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
    font-size: medium;
}
/* Contact Details end */

footer{
    background-color: black;
    color: #FFFFFF;
    padding: 50px 0px;
}

@media screen and (max-width:992px) {
    .banner-wrapper h1 {
        font-size: 40px;
    }

    .banner-wrapper p {
        font-size: small;
    }

    


}

@media screen and (max-width:768px) {
    .sec-heading h1 {
        font-size: 40px;
        
    }

    .sec-heading p {
        font-size: small;
    }
    .header{
        padding: 5px;
    }
    
    .header-wrapper nav a{
        display: none;
    } 
}
 


/* Sticky Header */

